nav {
    display:flex;
    background-color: aliceblue;
    width: 15vw;
    flex-shrink: 0;
    justify-content: space-between;
}

nav a {
    background-color: rgb(2, 131, 243);
    color: whitesmoke;
    padding: 1%;
    margin-right: 50px;
    text-decoration: none;
    transition: background-color 0.4s;
}


nav a:hover {
    background-color: rgb(98, 205, 255);
}

section {
    background-color: #030;
	color: #afa;
	overflow: auto;
}

header, section, main {
    overflow: auto;
    width: 85vw;
}

